.loading-chart {
  height: 200px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.custom {
  background-color: #F5F5F5;
  padding: 6px;
  border-radius: 16px;
  color: #333333;
}

.chart {
  margin-bottom: 24px;
}