.button {
  height: 48px;
  border: none;
  border-radius: 32px;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
  width: 145px;
  color: var(--color-1);
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.principal {
  width: 220px;
  background-color: var(--color-4);
}

.accepted {
  background-color: var(--color-accepted);
}

.refused {
  background-color: var(--color-error);
}