.main {
  background-color: var(--color-7);
  height: calc(100vh - 152px);
  padding-top: 32px;
}

.main h2 {
  color: var(--color-1);
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.box-values {
  background-color: var(--color-2);
  color: var(--color-7);
  display: flex;
  margin: 0 16px;
  border-radius: 16px;
  justify-content: space-between;
  padding: 16px 32px;
  box-sizing: border-box;
  font-weight: bold;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  text-align: center;
}

.box-values h2, .box-values p {
  color: var(--color-7);
  font-size: 18px;
  text-align: center;
}

.line {
  width: 1px;
  height: 54px;
  background-color: var(--color-6);
}

.box-values p {
  margin-top: 8px;
}