.modal {
  width: 328px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 28%;
  background-color: var(--color-1);
  border-radius: 16px;
  padding: 32px 16px;
  z-index: 2;
}