h1 {
  color: var(--color-5);
}

.content {
  margin: 0 auto;
  max-width: 650px;
}

.description {
  margin: 0;
  text-align: start; 
  margin-top: 12px;
}

.box-final {
  bottom: 0;
  left: 0;
  height: 128px;
  position: fixed;
  width: 100%;
  color: var(--color-5);
  font-size: 18px;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: var(--color-4);
  margin-left: 6px;
}

.box-sendMail img {
  display: block;
  margin: 128px auto 16px;
}

.box-sendMail p {
  margin-bottom: 32px;
}