h1 {
  color: #fff;
}

.content {
  margin: 0 16px
}

.description {
  margin: 0;
  text-align: start; 
  margin-top: 12px;
}

.box-final {
  bottom: 0;
  left: 0;
  height: 128px;
  position: fixed;
  width: 100%;
  color: #fff;
  font-size: 18px;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-left: 6px;
}

.btn {
  
}